# Ignore all .json files
*.json

# Ignore specific file
./initial_data/chemicals_data_clean.csv
./initial_data/chemicals_data.csv
./plant_species_list_part.csv
./plant_species_list_test.csv
./plant_species_list.csv

# Ignore all files in a specific directory
studies/

# Ignore all .log files in all directories
*.log

# Ignore all files except those with .py extension (not commonly used)
!*.py
